html , body{
    background-color: rgb(37, 55, 83);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#playfield{
    border-radius: 20px;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    justify-content: center;  
}
.card{
    text-align: center;
    color: white;
    margin: auto;
background-color: rgb(35, 63, 107) ;
border: solid lightblue 2px;
border-radius: 20px;
width: 250px;
height: 250px;
cursor: pointer;
}
.correct{
    background-color: rgb(79, 168, 103);
}
.incorrect{
    transition: 0.3s;
    background-color: rgb(168, 79, 79);
}
.img{
    position: relative;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 80%;
    height: 80%;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
#ui{
    margin: 0;
    height: 100vh;
    width:100vw;
}
#player-ui-1{
    height: 100vh;
    /* width: 10%; */
    float: right;
}
#player-ui-2{
    height: 100vh;
    /* width: 10%; */
    float: left;
}
#player-1{
    color: white;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    transform: rotate(-90deg);
}
#player-2{
    color: white;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    transform: rotate(90deg);
}
.your-turn{
    transition: 1s;
     background-color: rgb(95, 143, 221) !important;
}
.solved-cards{
    width:  200px;
    height: 100%;
 background-color: lightblue;
}
.right{
    float: right;
}
.left{
    float: left;
}
.solved{
    width: 100px;
    height: 100px;
}
.animation-card{
    position: absolute;
    top: 90vh;
    left: 43vw;
    transition: all 0.3s ease-in-out;
}


#restart-button{
    position: absolute;
    top: 10px;
    left: 50%;
    color: white;
    cursor: pointer;
}
#arrow{
    display: block;
    position: absolute;
    height: 100px;
    width: 150px;
    z-index: 2;
    top: 80vh;
    left: 20%;
    transform: rotate(180deg);
    transition: 1s;
}
#arrow.change-turn-left{
    transform:  translateX(0vw) rotate(-180deg);
}
#arrow.change-turn-right{
    transform: translateX(45vw) rotate(0deg);
}
#solved-popup{
    overflow: hidden;
    position: absolute;
    left: 43vw;
    top: 43vh;
    z-index: 2;
}
#off-field-cards{
    display: flex;
    position: absolute;
    top: 90vh;
    left: 43vw;
    z-index: 1;
}
#cards-left-counter{
    font-size: 4em;
    margin: auto;
}
.solved-card-number{
    color: white;
    margin: auto;
    font-size: 2em;
    
}
.solved-card-container{
    width: 130;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
@media only screen and (max-width: 1100px) {
    body{
        overflow: hidden;
    }
    #ui{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #playfield{
        position: absolute;
        left: 50vw;
        top: 40vh;
        height: 70%;
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    #player-ui-1{
        display: flex;
        flex-direction: row-reverse;
        width: 10vw;
        height: 100vh;
        
    }
    #player-ui-2{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 10vw;
        height: 100vh;
        left:90vw
    }
    .solved-cards{
        width: inherit;
        display: flex;
        flex-direction: column;
    }
    .card{
        height: 170px;
        width: 170px;
    }
    .solved{
        height: 100px;
        width: 100px;
    }
    .solved-card-container{
        display: flex;
        flex-direction: column;
    }
    #player-1{
        transform: translate(-50%,-50%) rotate(-90deg);
        top: 85vh;
        left: 15vw;
    }
    #player-2{
        transform: translate(-50%,-50%) rotate(90deg);
        top: 85vh;
        left: -5vw;
    }
    #player-1-solved{
        width: 120px;
    }
    #restart-button{
        left: auto;
        top: 50%;
    }
    #off-field-cards{
        position: absolute;
        top: 75vh;
    }
   
}
@media only screen and (max-width: 800px) {
    #ui{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #playfield{
        position: absolute;
        top: 48vh;
        left: 30vw;
        height: 70vh;
        width: 90vw;
        display: grid;
        grid-template-columns: auto auto;
    }
    #player-ui-1{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        height: 15vh;
    }
    /*this is fucked up somehow*/
    #player-ui-2{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        height: 15vh;
        top: 85vh;
        left: 0vw;
    }
    #player-1-solved{
        width: 100vw;
    }
    #player-2-solved{
        width: 100vw;
    }
    /*this is fucked up somehow*/
    .solved-cards{
        width: inherit;
        display: flex;
        flex-direction: row;
    }
    .card{
        height: 170px;
        width: 170px;
    }
    .solved{
        height: 100px;
        width: 100px;
    }
    .solved-card-container{
        display: flex;
        flex-direction: column;
    }
    #player-1{
        text-align: center;
        top: unset;
        margin: auto;
        margin-right: 20px;
        margin-top: 10px;
        width: 20vw;
        left: unset;
        position: relative;
        transform: unset;
        transform: rotate(-180deg);
    }
    #player-2{
        margin-right: 20px;
        margin-bottom: 10px;
        top: unset;
        left: 80vw;
        width: 20vw;
        position: relative;
        transform: unset;
    }
    #restart-button{
        margin-right: 20px;
        left: auto;
        top: 50%;
        transform: rotate(-90deg);
    }
    #off-field-cards{
        top: 50vh;
        left:85vw;
        transform: translate(-50%,-50%) rotate(-90deg);
    }
    #arrow{
        top: 20vh;
        left: 80vw;
        transform: rotate(-90deg);
        transition: 1s;
    }
    #arrow.change-turn-left{
        transform:  translateY(0vw) rotate(-90deg);
    }
    #arrow.change-turn-right{
        transform: translateY(60vw) rotate(-270deg);
    }
}
