body{
    background-color: rgb(37, 55, 83);
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#playfield{
    background-color: lightblue;
    /* border: red solid 2px; */
    border-radius: 20px;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    justify-content: center;  
}
.card{
    text-align: center;
    color: white;
    margin: auto;
background-color: rgb(35, 63, 107) ;
border: solid lightblue 2px;
border-radius: 20px;
width: 200px;
height: 200px;
cursor: pointer;
}
.correct{
    background-color: rgb(79, 168, 103);
}
.incorrect{
    background-color: rgb(168, 79, 79);
}
.img{
    position: relative;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 80%;
    height: 80%;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
#ui{
    margin: 0;
    height: 100vh;
    width:100vw;
}
#player-ui-1{
    height: 100vh;
    /* width: 10%; */
    float: right;
}
#player-ui-2{
    height: 100vh;
    /* width: 10%; */
    float: left;
}
#player-1{
    color: white;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    transform: rotate(-90deg);
}
#player-2{
    color: white;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    transform: rotate(90deg);
}
.turn{
    background-color: rgb(55, 109, 55);
}
.solved-cards{
    width:  200px;
    height: 100%;
 background-color: lightblue;
}
.right{
    float: right;
}
.left{
    float: left;
}
.solved{
    width: 100px;
    height: 100px;
}